header {
  width: 100vw;
  height: 30%;
  background-color: #1a252e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-header {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-header {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  animation: change-box 0.5s infinite
}

h1 {
  color: #ab04ab;
}

nav {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav > ul > li {
  list-style: none;
  font-size: 1.5rem;
}

@keyframes change-box {
  0% { box-shadow: 0 0 5px #690469 }
  50% { box-shadow: 0 0 5px #20e709 }
  100% { box-shadow: 0 0 5px #470147 }
}